<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>FlixTube: Home</title>

        <link rel="stylesheet" href="/css/tailwind.min.css">
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <div class="flex flex-col">
            <div class="border-b-2 bg-gray-100">
                <div class="nav flex flex-row items-center mt-1 p-2">
                    <div class="text-xl font-bold">
                        FlixTube
                    </div>
                    <div class="ml-16 border-b-2 border-blue-600">
                        <a href="/">Videos</a>
                    </div>
                    <div class="ml-4">
                        <a href="/upload">Upload</a>
                    </div>
                    <div class="ml-4">
                        <a href="/history">History</a>
                    </div>
                    <div class="ml-4">
                        <a href="/employees">Employees</a>
                    </div>
                </div>
            </div>

            <div class="m-4">
                <h1>Videos</h1>
                <div id="video-list" class="m-4">
                    {{#if videos}}
                    <table>
                        <tr>
                            <th class="border-2 p-1 pl-2 pr-2">Video name</th>
                            <th class="border-2 p-1 pl-2 pr-2">Transcribe option</th>
                            <th class="border-2 p-1 pl-2 pr-2">Text from transcription</th>
                        </tr>
                            {{#each videos}}
                                <tr class="mt-1">
                                    <td class="border-2 p-1 pl-2 pr-2">
                                        <a href="/video?id={{this._id}}">{{this.name}}</a> 
                                    </td>
                                    <td class="border-2 p-1 pl-2 pr-2">
                                        <a href="/transcribe-video/redirect/{{this._id}}" 
                                        class="transcribe-btn inline-block px-4 py-2 bg-blue-600 text-white no-underline rounded hover:bg-blue-700">
                                        Transcribe
                                        </a>
                                    </td>
                                    <td class="border-2 p-1 pl-2 pr-2">
                                        {{this.transcript}}
                                    </td>
                                </tr>
                            {{/each}}
                    </table>
                    {{else}}
                        No videos uploaded yet.
                    {{/if}}
                </div>
            </div>
        </div>
    </body>
</html>